/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

.description {
  grid-area: description;
}
.ratings {
  grid-area: ratings;
}
.reviews {
  grid-area: reviews;
}

main {
  max-width: 68.75rem;
  min-height: 100vh;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.section-wrapper {
  margin: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  'description ratings'
  'reviews reviews';
  grid-gap: 5rem;
}