:root {
  /* Colors */
  /* Primary */
  --primary-col: hsl(300, 43%, 22%);
  --accent-col: hsl(333, 80%, 67%);
  /* Neutral */
  --neutral-one: hsl(303, 10%, 53%);
  --ratings-box-bg-col: hsl(300, 24%, 96%);
  --light-text-col: hsl(0, 0%, 100%);

  /* Fonts */
  /* Typeface and size */
  --font-family: 'League Spartan', sans-serif;
  --font-size: 0.9375rem;
  /* Weights */
  --regular-weight: 400;
  --medium-weight: 500;
  --bold-weight: 700;
}

/* Flexbox */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

/* Grid */
.grid {
  display: grid;
}